.button
  border none
  padding: 8px 28px;
  border-radius: 8px;
  outline none
  cursor pointer
  color: #E6E6E6;
  box-sizing: border-box;
  font-family: Oxygen;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  height: 52px;
  @media screen and (max-width 1024px)
    font-size: 14px;
    line-height: 24px;
    padding: 12px 20px;
    height: 48px;
  &.primary
    background: linear-gradient(272.29deg, #1455B2 0%, #1166E1 100%);
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16);
    &:hover
      background: linear-gradient(272.29deg, #1166DF 0%, #5693EB 100%);
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16); 
  &.green
    background: linear-gradient(272.29deg, #098A5B 0%, #18B079 100%);
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16);
    &:hover
      background: linear-gradient(272.29deg, #099462 0%, #1BCC8C 100%), #17B079;
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16);
  &.secondary
    background: linear-gradient(272.29deg, #1F1F1F 0%, #262626 100%);
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16);
    &:hover
      background: linear-gradient(272.29deg, #262626 0%, #3D3D3D 100%);
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.16);
  &:active
    font-size: 15.5px;
    line-height: 34px;
    padding: 7.5px 27.5px;
    height: 52px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    @media screen and (max-width 1024px)
      padding: 11.5px 19.5px;
      font-size: 13.5px;
      line-height: 22px; 
      height: 45px; 
      margin-top 1.5px 
      margin-bottom 1.5px 
  &.icon-external-link, &.icon-play
    position relative
    padding-right 56px
    @media screen and (max-width 1024px)
      padding-right 44px    
    &:after
      content ''
      position: absolute;  
      right 28px
      top 0
      height 100%
      width 20px
      @media screen and (max-width 1024px)
        right 20px
        width 16px
    &:active
      padding-right 52.5px
      @media screen and (max-width 1024px)
        padding-right 42.5px
      &:after
        width 18px
        right 27.5px
        @media screen and (max-width 1024px)
          width 15px
          right 19.5px
  &.icon-external-link
    &:after
      background: url('assets/icon-external-link.svg')
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  &.icon-play
    &:after  
      background: url('assets/icon-play.svg')
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;