@import '_fonts';
@import '_section';
@import '_buttons';
@import 'nib';
@import 'normalize.css';


first-last()
  &:first-child
    margin-left 0
  &:last-child
    margin-right 0

body
  margin 0
  height 100vh
  display flex
  font-family Oxygen, sans-serif;
  font-weight: 300;
  color: #E4E4E4;
  min-width 320px
  min-height  480px
  flex-direction: column;

.main
  // display flex
  // flex 1
  flex-direction: column;
  overflow: auto;
  background: #141414;
  display flex
  height 100%


.logo
  width: 160px;
  height: 24px;
  margin: auto 0;
  background: url('assets/logo.svg')
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (max-width: 768px)
    width 120px
    // margin auto


.tabs
  display: flex;
  margin: auto 80px;
  .tab
    margin 0 16px
    cursor pointer
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
    &.selected
      font-weight bold

.header__button
  margin auto 0 auto auto




.main-content
  @media screen and (max-width: 768px)
    flex-direction: column-reverse;


.footer-box
  display: flex;
  flex 1
  flex-direction: row;
  justify-content: space-between;
  .copyright
    margin auto 0
    color: #B3B3B3;
    font-size 16px
    @media screen and (max-width: 768px)
      margin 12px 0 0 0
      text-align center
  @media screen and (max-width: 768px)
    flex-direction: column;
    justify-content: center;

.info-box
  .info-box__text
    font-size: 32px;
    line-height: 52px;
    margin-bottom 32px
    text-align: center;
    @media screen and (min-width: 1024px) and (max-width: 1180px)
      font-size: 24px;
      line-height: 40px;
      margin-bottom 20px
    @media screen and (min-width: 768px) and (max-width: 1024px)
      font-size: 28px;
      line-height: 48px;
      margin-bottom 20px
    @media screen and (max-width: 768px)
      font-size: 20px;
      line-height: 36px;
      margin-bottom 16px






a
  text-decoration: none;
  color: inherit;
  &.button
    display inline-block
    text-align center


.info-box
  display: flex;
  flex-direction: column;
.info-box__buttons
  margin 0 auto
  @media screen and (max-width: 768px)
    margin 0
    display: flex;
    flex-direction: column;
  .button.primary
    margin-left 24px
    @media screen and (max-width: 768px)
      margin-top 16px
      margin-left 0
      &:active
        margin-top 17.5px//16px


.info-box__timer-box
  display flex
  flex-direction: column;
  margin-top 36px
  @media screen and (min-width: 1024px) and (max-width: 1180px)
    margin-top 28px
  @media screen and (min-width: 768px) and (max-width: 1024px)
    margin-top 28px
  @media screen and (max-width: 768px)
    margin-top 36px

.timer-box__header
  margin 0 auto
  font-size: 20px;
  line-height: 25px;
  margin-bottom 12px;
  @media screen and (max-width: 1180px)
    font-size: 16px;
    line-height: 20px;

.timer-box__content
  display flex
  margin 0 auto

.timer-elem__signature
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #555555;
  margin-top 4px;

.timer-elem__number
  font-family: Oxygen Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  @media screen and (max-width: 1180px)
    font-size: 40px;
    line-height: 48px;

.logo--hegic
  display flex
  height 48px
  margin auto 0
  @media screen and (max-width: 768px)
    margin 0
    justify-content: center;
  .logo--hegic__hegic
    margin auto 0
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #B3B3B3;
  .logo--hegic__divider
    width 1px
    background #929292
    margin 0 16px
  .logo--hegic__info
    margin auto 0
    font-size: 16px;
    line-height: 24px;
    color: #B3B3B3;



.info-box__illustration
  flex 1
  background: url('assets/heart.png')
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top 36px
  min-height 407px
  @media screen and (min-width: 1024px) and (max-width: 1180px)
    min-height 228px
  @media screen and (min-width: 768px) and (max-width: 1024px)
    min-height 630px
  @media screen and (max-width: 768px)
    margin-top 0
    min-height 245px

.overlay
  position: fixed;
  left 0
  top 0
  width: 100%;
  height: 100%;
  z-index -100
  display flex
  visibility hidden
  overflow: auto;
  box-sizing: border-box;
  flex-direction: column;
  transition: visibility 1s, z-index 1s;
  &.overlay-mobile-menu
    &:before
      content ''
      opacity 0
      transition: opacity 1s;
      position absolute
      height 100%
      width 100%
      background: linear-gradient(180deg, #141414 0%, #0A0A0A 100%);
    &.open
      &:before
        opacity 1
  &.dyn
    opacity 0
    background: linear-gradient(180deg, #141414 0%, #0A0A0A 100%);
    transition: opacity 1s;
    &.open
      opacity 1
  &.open
    visibility: visible;
    z-index: 200;
  .close-pop-up
    position absolute
    right 60px
    top 40px
    height 48px
    width 48px
    background: url('assets/close.svg')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor pointer
    @media screen and (min-width: 1024px) and (max-width: 1180px)
      width: 36px;
      height: 36px;
      right 40px
      top 36px
    @media screen and (min-width: 768px) and (max-width: 1024px)
      width: 36px;
      height: 36px;
      right 40px
      top 36px
    @media screen and (max-width: 768px)
      width: 16px;
      height: 16px;
      right 24px
      top 24px
    &.close-pop-up--mobile-menu
      width: 24px;
      height: 24px;
      left: 20px;
  .pop-up
    display none
    margin auto
    flex-direction: column;
.loading-box
  margin auto
  z-index 1
.loading-box__icon
  width: 200px;
  height: 200px;
  margin: auto;
.loading-box__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #E4E4E4;
.overlay__content
  display flex
  margin auto
.overlay-mobile-menu
  left 0
  // position relative
  .mobile-menu
    left -100%
    position: absolute;
    height: 100%;
    box-sizing: border-box;

    transition: all 1s;

    width 296px
    background: linear-gradient(180deg, #292929 0%, #0A0A0A 100%), rgba(19, 19, 19, 0.96);
    padding 84px 20px 32px 20px
    flex: 1;
    display flex
    flex-direction: column;
    justify-content: space-between;
    // .header__button
  &.open
    .mobile-menu
      left 0
  .tabs
    display flex !important
    flex-direction: column;
    margin: 0;
    .tab
      margin 8px 0
      font-size: 20px;
      line-height: 32px;
.icon-mobile-menu
  height: 100%;
  width: 24px;
  margin-right 20px
  background-image url('assets/icon-menu.svg')
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left;
  cursor pointer
  @media screen and (min-width: 768px)
    display none


.title-desc
  .step
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color: #E4E4E4;
    margin: 0px 0 20px 0;


br.mobile
  display none
  @media screen and (max-width: 768px)
    display block
br.desktop
  display none
  @media screen and (min-width: 768px)
    display block

.text-desc
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #B3B3B3;
  // margin-bottom 10px
  @media screen and (min-width: 1024px) and (max-width: 1180px)
    font-size: 20px;
    line-height: 32px;
  @media screen and (min-width: 768px) and (max-width: 1024px)
    font-size: 20px;
    line-height: 32px;
  @media screen and (max-width: 768px)
    font-size: 14px;
    line-height: 20px;
  &.bottom
    font-size: 16px;
    line-height: 28px;
    margin-bottom 10px
    @media screen and (max-width: 768px)
      display none
.pop-up__form
  margin 36px auto 24px auto
  display: flex;
  .next
    cursor pointer
    width: 32px;
    height: 60px;
    background white
    margin auto auto auto 60px
    background: url('/assets/Next.svg')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 768px)
      display none
  .prev
    cursor pointer
    width: 32px;
    height: 60px;
    background white
    margin auto 60px auto auto
    background: url('/assets/Next.svg')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform rotate(180deg)
    @media screen and (max-width: 768px)
      display none
.navigation
  display none
  @media screen and (max-width: 768px)
    background: #292929;
    display flex
    height: 48px;
    min-height: 48px;
    justify-content: center;
    .step
      width: 20px;
      height: 20px;
      border-radius 100%
      border: 2px solid #858585;
      cursor pointer
      margin  auto 7.5px
      &.select
        background #858585



.selector-swap-wrap
  display flex
  flex-direction row
  margin auto
  @media screen and (max-width: 768px)
    margin 0
.selector-swap-wrap__elem
  border: 1px solid #1F1F1F;
  box-sizing: border-box;
  border-radius: 8px;
  margin 0 18px 36px 18px
  cursor pointer
  padding 20px 20px 20px 96px
  position relative
  first-last()
  background: linear-gradient(316.54deg, #1F1F1F 24.4%, #262626 75.74%), #1C1B1B;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.88), 0px 0px 28px #272727;
  @media screen and (max-width: 768px)
    flex: 1;
    padding 60px 11px 16px 11px
    text-align center
    margin 0 10px 28px 10px
  &.selected
    background: #131313;
    box-shadow: 0px 0px 28px #272727, inset 0px 0px 12px #000000;
  &:before
    content ''
    position: absolute;
    width: 56px;
    height: 56px;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 768px)
      width: 40px;
      height: 40px;
      left: 50%;
      top: 16px;
      transform: translate(-50%, 0%);

  &.swap
    @media screen and (min-width: 768px)
      width 340px
    &:before
      background-image url('assets/sw-icons--swap.svg')
  &.wrap
    @media screen and (min-width: 768px)
      width 340px
    &:before
      background-image url('assets/sw-icons--wrap.svg')
  &.stake
    @media screen and (min-width: 768px)
      width 260px
    &:before
      background-image url('assets/sw-icons--stake.svg')
  &.unstake
    @media screen and (min-width: 768px)
      width 260px
    &:before
      background-image url('assets/sw-icons--stake.svg')
      transform rotate(180deg) translate(0, 50%)
      @media screen and (max-width: 768px)
        transform rotate(180deg) translate(50%, 0%)
.selector-swap-wrap__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #E5E5E5;
  margin-bottom  4px
  @media screen and (max-width: 768px)
    font-size: 16px;
    line-height: 28px;
.selector-swap-wrap__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #8F8F8F;
  @media screen and (max-width: 768px)
    font-size: 12px;
    line-height: 22px;

.selector-buy
  background: #2E2E2E;
  border: 1px solid #1F1F1F;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px #272727, inset 0px 0px 12px #000000;
  border-radius: 50px;
  margin: 24px auto;
  display flex
  padding 12px
  @media screen and (max-width: 768px)
    width 100%
.selector-buy__elem
  white-space: nowrap;
  background: linear-gradient(272.29deg, #1455B2 0%, #1166E1 100%);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
  padding: 2px 28px;

  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  display: flex;
  color: #FFFFFF;

  opacity .5

  first-last()

  @media screen and (max-width: 768px)
    padding: 2px 12px;
    flex: 1;
    display: block;
    text-align: center;

  &.whbtc
    background: linear-gradient(272.29deg, #AA6702 0%, #C17604 100%);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  &.selected
    opacity 1

.swap-text, .wrap-text
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #E4E4E4;
  @media screen and (max-width: 768px)
    font-size: 20px;
    line-height: 36px;
.swap-wrap-text--bottom
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #8F8F8F;
  margin-top 28px

.new-swap
  overflow: auto;
  width: 336px;
  margin auto
  border-radius: 16px;
  background: linear-gradient(316.54deg, #1F1F1F 24.4%, #262626 75.74%), #1A1A1A;
  @media screen and (max-width: 375px)
    width 100%
  &.margin-top-32
    margin-top 32px
.new-swap__box--top
  padding 24px 20px 20px 20px
.new-swap__box--bottom
  padding 24px 20px
  border-top 1px solid #474747;
  background: #292929;
.new-swap__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align center
  color: #E6E6E6;
  margin-bottom 24px
.new-swap__button
  margin-top 20px
  .button
    width 100%


span.bold
  font-weight: bold;



.input-box
  background: #1F1F1F;
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 16px rgba(10, 10, 10, 0.36);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding 12px 16px
  height 68px
  box-sizing: border-box;
  .input
    background: transparent;
    border: none;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #E4E4E4;
    outline: none;
    text-overflow: ellipsis;
    min-width 10px
    height 20px
    box-sizing: border-box;
.input-box__top, .input-box__bottom
  display flex
  justify-content
  justify-content: space-between;
.input-box__top
  margin-bottom 8px
.input-box-top__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #8F8F8F;
  overflow ellipsis
.input-box__max
  height 20px
  box-sizing: border-box;
  background: #273953;
  border-radius: 4px;
  padding 4px
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  cursor pointer
  margin auto 8px
.input-box__token
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #E4E4E4;
  margin: auto 0;
  padding 0
  position relative
  &.with-selector
    cursor pointer
    padding-right 16px
    &:after
      content ''
      position absolute
      width: 8px;
      height: 4px;
      background-image url('assets/arrow-down.svg')
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      transform: translate(0, -50%);
      right 0
  &.width-max
    padding-left 20px
.input-box__token, .token
  &:before
    content ''
    position absolute
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translate(0, -50%);
    left 0
  &.USDC
    padding-left 20px
    &:before
      background-image url('assets/tokens/USDC.svg')
  &.AAVE
    padding-left 20px
    &:before
      background-image url('assets/tokens/AAVE.svg')
  &.BAND
    padding-left 20px
    &:before
      background-image url('assets/tokens/BAND.svg')
  &.COMP
    padding-left 20px
    &:before
      background-image url('assets/tokens/COMP.svg')
  &.DAI
    padding-left 20px
    &:before
      background-image url('assets/tokens/DAI.svg')
  &.ETH
    padding-left 20px
    &:before
      background-image url('assets/tokens/ETH.svg')
  &.LINK
    padding-left 20px
    &:before
      background-image url('assets/tokens/LINK.svg')
  &.SNX
    padding-left 20px
    &:before
      background-image url('assets/tokens/SNX.svg')
  &.WBTC
    padding-left 20px
    &:before
      background-image url('assets/tokens/WBTC.svg')
  &.WHITE
    padding-left 20px
    &:before
      background-image url('assets/tokens/WHITE.svg')
  &.sWHITE
    padding-left 20px
    &:before
      background-image url('assets/tokens/sWHITE.svg')

.token
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #E4E4E4;
  position relative
  &.bold
    font-weight bold
  &.inherit
    font-size inherit
    font-weight inherit
    display inline
    margin auto
.token--big-title
  display flex
  margin 4px 0 20px 0
  .token
    margin auto
    font-size: 24px;
    line-height: 36px;
.hash
  display: inline;
  border-bottom: 1px dashed #E4E4E4;
  position relative
  padding 4px 0 4px 16px
  cursor pointer
  //-----------
  overflow: hidden;
  text-overflow: ellipsis;
  //------------
  &:before
    content ''
    position absolute
    height 12px
    width 12px
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translate(0, -50%);
    left 0
    background-image url('assets/link-icon.svg')

.margin-16
  height: 16px;

.separator-arrow
  margin 16px auto
  width: 16px;
  height: 16px;
  background-image url('assets/separator-arrow.svg')
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.horizontally
    transform rotate(-90deg)
    margin auto 8px

.protect-checkbox
  cursor pointer
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #E4E4E4;
.checkbox
  margin-right 10px


.table-box
  background: #333333;
  border: 1px solid #474747;
  box-sizing: border-box;
  border-radius: 4px;
  position relative
  margin-top 20px
  &:first-child
    margin-top 0
.table-box__line
  justify-content: space-between;
  height 64px
  padding 8px 16px
  box-sizing: border-box;
  border-bottom 1px solid #474747;
  border-box box-sizing
  display flex
  &.big
    min-height 64px
    height 96px
  &:last-child
    border-bottom none
.table-box-line__elem
  // flex 1
  display flex
  flex-direction column
  justify-content: space-around;
.table-box-elem__title-with-info
  flex-direction column
  .table-box-elem__title
    margin-bottom 4px
.table-box-elem__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  color: #E4E4E4;
  margin auto 0
.table-box-elem__info
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #8F8F8F;
  &.left
    text-align left
  &.center
    text-align center
.price-info
  display: flex;
  justify-content: space-between;
  margin-top 12px

.attention-box--overlap
  position absolute
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 31, 31, 0.92);
  display: flex;
  flex-direction: column;
  justify-content: center;
.attention-box__attention
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFB647;
  padding 22px 0 0 0
  position relative
  margin-bottom 4px
  &:before
    content ''
    position absolute
    height 22px
    width 22px
    top 0
    left: 50%;
    transform: translate(-50%,0);
    background-image url('assets/warning-icon.svg')
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


.attention-box__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #E4E4E4;




.holding-header
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #E4E4E4;
.holding-box
  @media screen and (max-width: 768px)
    background: linear-gradient(316.54deg, #1F1F1F 24.4%, #262626 75.74%), #242424;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
    border-radius: 8px;
    // padding 24px 28px
    display: flex;
    flex-direction: column;
    margin-top 32px
    .no-active-contracts, .my-table-container
      display none
      &.mobile-active
        display flex
    .my-table-container
      margin-top 0
      box-shadow none
      background transparent
      padding-top 0
      .my-table-container__title
        display none
    .my-table-container__title
      font-size: 16px;
      line-height: 24px;
      margin 0 12px
      color: #8F8F8F;
      &.active
        color: #E6E6E6;
.holding-box__mobile-menu
  margin 22px auto 18px auto
  display: flex;
  @media screen and (min-width: 768px)
    display none


.br--mobile
  @media screen and (min-width: 768px)
    display none
.br--desk
  @media screen and (max-width: 768px)
    display none



.my-table-container
  background: linear-gradient(316.54deg, #1F1F1F 24.4%, #262626 75.74%), #242424;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
  border-radius: 8px;
  padding 24px 28px
  display: flex;
  flex-direction: column;
  margin-top 32px
.my-table-container__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #E6E6E6;
  margin-bottom 20px
  text-align: center;

.my-table-box
  overflow auto
  @media screen and (max-width: 768px)
    display none
.my-table
  width: 100%;
  background: #1F1F1F;
  border: 1px solid #1F1F1F;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
.my-table__header
  background: #1A1A1A;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #8F8F8F;
  text-align left
  height 40px
  th
    padding-left 12px
.my-table__line
  height 68px
  box-sizing border-box
  background: #292929;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #E4E4E4;
  &:nth-child(2n+1)
    background: #242424;
  td
    padding 10px 12px
    // padding-left 12px
    width: 15%;
    &.with-button
     width 160px
    // &.bold
    //   font-weight: bold;
.my-table__button
  width 100%

.value
  &.bold
    font-weight bold
  &.good
    color: #5AEDB8;
  &.bad
    color: #FC5C83
  &.staked
    color: #8CBBFF;

.my-table-box--mobile
  background: #1F1F1F;
  box-shadow: 0px 0px 12px #333333, inset 0px 0px 12px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  text-align center
  &.text-left
    text-align left
  @media screen and (min-width: 768px)
    display none
  .my-table__line
    padding 12px 16px
    height auto
    margin 12px
    background: #2E2E2E;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  .my-table-line-elem__title
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom 4px
    color: #8F8F8F;
  .my-table-line__container
    display flex
    justify-content: space-around;
    margin-bottom 16px
    &.last
      margin-bottom 0
  .action-absolute
    position: absolute;
    right: 0;
    top: 0;
  .button
    margin-top 12px


.separator-line
  margin 12px 0
  height 1px
  background #525252;





.no-active-contracts
  display: flex;
  flex-direction: column;
  height: 308px;
  justify-content: center;
  margin-top 32px
  position relative
  z-index 0
  &:before
    content ''
    height 100%
    width 100%
    background-image url('assets/background-no-active.svg')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position absolute
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index -1
  .button-box
    margin 28px auto 0 auto
  @media screen and (max-width: 768px)
    margin 0 16px 16px 16px
    background: #1F1F1F;
    box-shadow: 0px 0px 12px #333333, inset 0px 0px 12px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    &:before
      height calc(100% - 60px)
      width calc(100% - 60px)
.no-active-contracts__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  text-align center
  @media screen and (max-width: 768px)
    font-size: 16px;
    line-height: 24px;

.share-dynamics
  display flex
  justify-content: space-evenly;
  margin: 20px 0 0 0;
.share-dynamics-elem__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #8F8F8F;
.share-dynamics-elem__value
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #E4E4E4;

.disclaimer
  background: rgba(8, 47, 102, 0.4);
  border: 1px solid rgba(140, 187, 255, 0.6);
  box-sizing: border-box;
  border-radius: 8px;
  padding 20px 20px 20px 88px
  position relative
  margin-top 20px
  &:before
    content ''
    position absolute
    width: 56px;
    height: 56px;
    background-image url('assets/sw-icons--disclaimer.svg')
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translate(0, -50%);
    left 16px
.disclaimer__title
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #8CBBFF;
  margin-bottom 4px
.disclaimer__text
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #E4E4E4;


.value-line
  display: flex;
  justify-content: center;


.disconnect-info
  display: flex;
  flex-direction: column;
  margin: auto 0 auto auto;
  @media screen and (max-width: 768px)
    display none
.mobile-menu
  .disconnect-info
    margin auto 0 20px 0
    @media screen and (max-width: 768px)
      display flex
      .disconnect-info__status
        margin 4px auto auto 0
.disconnect-info__status
  margin 4px 0 auto auto
  position relative
  padding-left 20px
  &:before
    content ''
    position absolute
    height 12px
    width 12px
    left 0
    top 50%
    transform translate(0, -50%)
    border-radius 100%
    background: #5AEDB8;


button:disabled
  opacity: 20%
